<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<h1>Componente productos</h1>
<!--en formularios siempre ngmodel-->
<form action="#">
  <input type="text" name="nombre" [(ngModel)]="nombreProducto">
  <input type="text" name="precio" [(ngModel)]="precioProducto">
  <input type="text" name="unidades" [(ngModel)]="unidadesProducto">
  <button (click)="guardarProducto()">Comprar</button>
</form>
<app-listado-articulos *ngFor="let producto of productos; let i = index" [producto]="producto" [indice]="i"></app-listado-articulos>
</body>
</html>
