<p>Detalles de {{ (planeta$ | async)?.name }}</p>
<p>Período de rotación: {{ (planeta$ | async)?.rotation }}</p>
<p>Período de òrbita: {{ (planeta$ | async)?.orbital_period }}</p>
<p>Diámetro: {{ (planeta$ | async)?.diameter }}</p>
<p>Gravedad: {{ (planeta$ | async)?.gravity }}</p>
<p>Clima: {{ (planeta$ | async)?.climate }}</p>
<p>Terreno: {{ (planeta$ | async)?.terrain }}</p>
<p>Superficie de agua: {{ (planeta$ | async)?.surface_water }}</p>
<p>Habitantes: {{ (planeta$ | async)?.population }}</p>
