<h3>Lista de Personajes</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Raza</th>
      <th>Acción</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let personaje of personajes">
      <td>{{ personaje.id }}</td>
      <td>{{ personaje.nombre }}</td>
      <td>{{ personaje.raza }}</td>
      <td>
        <button
          class="btn btn-danger btn-sm"
          (click)="eliminarPersonaje(personaje.id)"
        >
          Eliminar
        </button>
      </td>
    </tr>
  </tbody>
</table>
