<h1 [innerHTML]="titulo"></h1>
<label for="nombre">Nombre</label>
<input type="text" [(ngModel)]="nombre" />
<label for="apellidos">Apellidos</label>
<input type="text" [(ngModel)]="apellidos" />
<button (click)="mostrarNombre()">Añadir</button>
<div *ngIf="alta; else sinAlta">
  <!--alta es un booleano definido en ts-->
  <p>Alta correcta de usuario {{ nombre }} {{ apellidos }}</p>
</div>
<ng-template #sinAlta>
  <p>Ninguna alta</p>
</ng-template>
<br />

<div *ngFor="let persona of personas; let i = index">
  <h1>{{ i }}</h1>
  <li>Nombre:{{ persona.nombre }}</li>
  <li>Apellidos:{{ persona.apellidos }}</li>
  <li>Edad:{{ persona.edad }}</li>
  <br />
</div>

<p>Personas mayores de 30</p>
<div *ngFor="let persona of personas">
  <div *ngIf="persona.edad >= 30">
    <li>{{ persona.nombre }}</li>
  </div>
</div>

<button (click)="mostrarOpc($event)" value="A">A</button>
<div>{{ key }}</div>
<button (click)="mostrarOpc($event)" value="B">B</button>
<div>{{ key }}</div>
<button (click)="mostrarOpc($event)" value="C">C</button>
<div>{{ key }}</div>
<div *ngIf="pulsado; else noPulsado">
  <p>Has pulsado {{ key }}</p>
</div>
<ng-template #noPulsado>
  <p>No has seleccionado ningún botón</p>
</ng-template>

<app-articulo></app-articulo>

